* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292f36;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style: none;
    display: block;
}

@keyframes appear {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.container {
    transition: all 1s;
    margin-top: 0;
    margin: 0 auto;
    max-width: 400px;
    background-color: #292f36;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}

#name {
    text-align: center;
    margin: auto;
    padding: 20px 0;
    width: 80%;
    font-size: 2em;
}

#picture {
    border: 2px solid #4ECDC4;
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    background-color: white;
}

.section-header {
    margin: 30px auto;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #4ECDC4;
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.section-header:hover {
    letter-spacing: 2px;
}

.about-container {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 80px;
}

.about-container #description {
    text-align: justify;
    line-height: 25px;
}

.skills-container {
    width: 80%;
    margin: 10px auto;
    height: 300px;
}

.skills-container li {
    float: left;
    background-color: #FF6B6B;
    margin: 10px 10px;
    display: block;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.skills-container li:hover {
    background-color: #4ECDC4;
}

.links-container {
    margin: auto;
    margin-bottom: 100px;
    width: 80%;
    transition: all 0.3s;
}

.links-container a {
    transition: all 0.3s;
    margin: 5px 0;
    padding: 7px;
    display: block;
    text-align: center;
    background-color: #FF6B6B;
}

.links-container a:hover {
    background-color: #4ECDC4;
}

.summary-container {
    margin: auto;
    padding: 0;
    width: 80%;
    display: block;
    height: 300px;
}

.summary-container li {
    transition: all 0.3s;
    background-color: #FF6B6B;
    margin: 5px auto;
    padding: 7px;
    text-align: center;
    cursor: pointer;
}

.summary-container li:hover {
    background-color: #4ECDC4;
    animation: all 0.2s;
}

@media screen and (max-width: 380px) {
    .skills-container {
        height: 350px;
    }
}

@media screen and (max-width: 310px) {
    .skills-container {
        height: 400px;
    }
}